@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: var(--bgSite);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    width: 100%;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 700;
}

.container{
    max-width: 1440px;
    margin: auto;
}

header .top,
header .middle{
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .top{
    background-color: var(--title);
    color: var(--white);
}

header .middle h1{
    font-size: 1.5rem;
}

header .bottom{
    position: relative;
    min-height: 500px; 
    width: 100%;
    overflow: hidden;
}

header .bottom .image{
    width: 100%;
    background-image: url("../images/wallpaper.jpeg");
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

header .bottom .content{
    position: absolute;
    width: calc(100% - 60px);
    line-height: 180%;
    left: 20px;
    top: 122px;
    color: var(--white);
}

header .bottom .content h2{
    font-size: 1.75rem;
    margin-bottom: 12px;
}

header .bottom .content p{
    font-weight: 600;
}

main{
    text-align: center;
    margin: 50px 20px 20px 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 375px));
    grid-template-rows: auto 1fr;
    column-gap: 12px;
    justify-content: center;
}

main header{
    margin-bottom: 60px;
    grid-column: 1 / -1;
    grid-row: 1;
}

main header h1{
    font-size: 1.75rem;
    margin-bottom: 5px;
}

main header p{
    line-height: 180%;
}

main section{
    height: 300px;
    min-width: 300px;
    max-width: 375px;
    background-color: var(--bgCard);
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section img{
    width: 250px;
}

main section h2{
    opacity: 0;
}

main section:hover h2{
    opacity: 1;
    transition: 1s all ease;
}

main section:hover img{
    transform: scale(1.3);
    transition: 1s all ease;
}

footer{
    height: 60px;
    background-color: var(--title);
    text-align: center;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px){

    header .bottom{
        height: 26.25vw;
    }

    header .bottom .content{
        width: 460px;
        left: 100px;
        top: 130px;
        color: var(--white);
    }

    header .bottom .content h2{
        font-size: 2rem;
    }

    header .bottom .content p{
        font-size: 1.125rem;
    }

    main{
        margin-top: 60px;
        margin-bottom: 70px;
        grid-template-columns: repeat(auto-fill, 300px);
    }

    main header h1{
        font-size: 2rem;
    }

    main header p{
        font-size: 1.125rem;
    }

    main section{
        width: 300px;
    }
}