@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Merriweather-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

h1,
h2{
    color: var(--title);
    font-family: 'Merriweather', serif;
}

p{
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: var(--bgSite);
}

body > header{
    min-height: 100vh;
    width: 100%;
    padding:  1.25rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: center;
}

body > header h1{
    font-weight: 400;
}

body > header p{
    font-size: 1.125rem;
    line-height: 150%;
    margin: 1.125rem 0;
}

body > header button{
    padding: .75rem 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--buttonColor);
    color: var(--white);
    cursor: pointer;
}

main{
    width: 100%;
    padding: 60px 20px;
    background-color: var(--white300);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main section{
    background-color: var(--white);
    margin: 15px 0;
    max-width: 380px;
}

main section header{
    height: 222px;
}

main section article{
    padding: 1.5rem 2rem 2rem 2rem;
}

main section article h2{
    margin-bottom: 1.65rem;
}

main section article p{
    line-height: 150%;
}

footer{
    width: 100%;
    min-height: 100vh;
    margin: 3rem 0;
    padding: 0 1.25rem;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer h1{
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
}

footer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer form input,
footer form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 20px 12px;
    border-radius: 5px;
    font-size: 1.125rem;
    border: 0;
}

footer form input::placeholder,
footer form textarea::placeholder{
    font-family: 'Lato', sans-serif;
}

footer form button{
    width: 100%;
    padding: .75rem 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--buttonColor);
    color: var(--white);
    cursor: pointer;
}

@media (min-width: 768px){
    body > header{
        min-height: 560px;
        height: 560px;
        padding: 0 100px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    main section{
        margin: 35px 10px;
        max-width: 340px;
    }
}

@media (min-width: 1024px){
    body > header{
        grid-template-columns: 1fr 1fr 1fr;
    }

    body > header .image{
        grid-column: -2 / -1;
    }

    footer{
        min-height: 750px;
        height: 750px;
    }

    footer form input,
    footer form textarea{
        width: 470px;
    }
}